<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhận diện khuôn mặt</title>
</head>
<body>
    <div class="" style="text-align: center;">
        <h1>Ứng dụng nhận diện khuôn mặt</h1>
        <a href="{{url_for('recognize')}}"><h3>Nhận diện</h3></a>|
        <a href="{{url_for('train')}}"><h3>Train dữ liệu</h3></a>
        <!-- <img src="{{ url_for('image_feed')}}" alt=""> -->
    </div>
</body>
</html>